<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- SERVLET DECLARATION -->
    
    <servlet>
        <servlet-name>first</servlet-name>
        <!--<servlet-class>servlets.StartingServlet</servlet-class>-->
        <servlet-class>servlets.FirstServlet</servlet-class>
        <!-- java packege name and class name -->
    </servlet>
    
    <servlet>
        <servlet-name>second</servlet-name>
        <servlet-class>servlets.GenericServlets</servlet-class> 
    </servlet>
    
    <servlet>
        <servlet-name>third</servlet-name>
        <servlet-class>servlets.HTTPServlet</servlet-class> 
    </servlet>
    
    <!--MAPPING-->
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/web</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/second</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>third</servlet-name>
        <url-pattern>/httpThird</url-pattern>
    </servlet-mapping>
    
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
